<!DOCTYPE html>
<html>
<head>
<title>Sign up for Twitter</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<div class="signup-wrapper">
		<h1>Join Twitter Today</h1>
		<form id="phx-signup-form" method="POST">
			<div class="textbox">
				<div class="prompt name">
					<div class="field" data-fieldname="name">
						<input id="full-name" class="" type="text" placeholder="Full name"
							aria-required="true" maxlength="20" name="user[name]" value=""
							autocomplete="off"><br/><br/>
							<input id="email" class="email-input" type="text" placeholder="Phone or Email" aria-required="true" name="user[email]" value="" autocomplete="off">
					<br/><br/>
					<input id="password" type="password" placeholder="Password" aria-required="true" name="user[user_password]" value="">
					<br/><br/>
					<div class="sign-up-box">
<input id="submit_button" class="submit button signup" type="submit" value="Sign up">
</div><br/><br/>
<div class="befound">
<p>
By signing up, you agree to the
<a class="legal-link" target="_blank" href="/tos">Terms of Service</a>
and
<a class="legal-link" target="_blank" href="/privacy">Privacy Policy</a>
, including
<a class="legal-link" target="_blank" href="https://support.twitter.com/articles/20170514">Cookie Use</a>
. Others will be able to find you by email or phone number when provided.
</p>
</div>
					</div>
				</div>
			</div>

		</form>
	</div>
</body>
</html>
