<!DOCTYPE html>
<html lang="en">
<head>
<title>Twitter Home</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel='stylesheet' href='./stylesheets/style.css' />
</head>
<body>
	<div class="container text-center">
		<div class="StreamsHero">
			<div class="StreamsHero-image"
				style="background-image: url(https://abs.twimg.com/a/1457130698/img/t1/lohp_streams_header_bg_v4.png);">
				<a class="js-nav" data-element="logo" data-component="hero" href="/">
					<span class="Icon Icon--bird"></span>
				</a>
				<h2 class="StreamsHero-header">
					<br /> <br />See what's happening right now.
				</h2>
				<p class="StreamsHero-blurb">Find community, conversation and
					inspiration about the things you love.</p>
				<div class="StreamsHero-buttonContainer">
				<form action="/login" method="post" class="displayLogin">
					<button name="submit" value='loginStart' class="Button StreamsLogin Log js-login" type="submit">LogIn</button>
				</form> <br>				
					<a class="Button StreamsLogin Sign js-login" href="/signUp"
						data-element="buttons" data-component="hero">Sign up</a> 
				</div>
			</div>
		</div>
	</div>
		<a class="StreamsCategoryBar-itemName u-linkClean js-nav"
			data-nav="686639666779394057" href="#"> <img src="" alt="search" /></a>
		<a class="StreamsCategoryBar-itemName u-linkClean js-nav"
			data-nav="686639666779394057" href="#"> Featured</a> <a
			class="StreamsCategoryBar-itemName u-linkClean js-nav"
			data-nav="686639666779394057" href="#">Sports</a> <a
			class="StreamsCategoryBar-itemName u-linkClean js-nav"
			data-nav="686639666779394057" href="#">News</a> <a
			class="StreamsCategoryBar-itemName u-linkClean js-nav"
			data-nav="686639666779394057" href="#">Music</a> <a
			class="StreamsCategoryBar-itemName u-linkClean js-nav"
			data-nav="686639666779394057" href="#">Entertainment</a> <a
			class="StreamsCategoryBar-itemName u-linkClean js-nav"
			data-nav="686639666779394057" href="#">Lifstyle</a>
	<br>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Maria Sharapova: I failed a drug
				test</div>
			<div class="panel-body">
				<img
					src="http://rack.1.mshcdn.com/media/ZgkyMDE2LzAzLzA3LzRiL2Y5NWUzNTI5ODIxLjY3OWU1LmpwZwpwCXRodW1iCTk1MHg1MzQjCmUJanBn/da141364/cf5/f95e3529821d4311a56fde40920598a3.jpg"
					class="img-responsive" style="width: 100%" alt="Image">
			</div>
			<div class="panel-footer">The tennis star announced she
				received a letter from the International Tennis Federation that she
				failed a test at the Australian open and said she took "full
				responsibility."</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">NBA</div>
			<div class="panel-body">
				<img
					src="http://www.phenomnybasketball.com/wp-content/uploads/2015/10/basketball_tongue_ball_game_11402_1920x1080.jpg"
					class="img-responsive" style="width: 100%" alt="Image">
			</div>
			<div class="panel-footer">It seems that every week Steph Curry has about a dozen or so mind-boggling things on the court (and beyond). So why not start keeping track?</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Trump reportedly to meet with top Republicans in Washington</div>
			<div class="panel-body">
				<img
					src="http://www.slate.com/content/dam/slate/blogs/moneybox/2015/08/16/donald_trump_on_immigration_build_border_fence_make_mexico_pay_for_it/483208412-real-estate-tycoon-donald-trump-flashes-the-thumbs-up.jpg.CROP.promo-xlarge2.jpg"
					class="img-responsive" style="width: 100%" alt="Image">
			</div>
			<div class="panel-footer">Donald Trump will reportedly meet Monday in Washington with nearly two dozen influential Republicans, with the apparent hope of improving relations with the GOP establishment.</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Maria Sharapova: I failed a drug
				test</div>
			<div class="panel-body">
				<img
					src="http://rack.1.mshcdn.com/media/ZgkyMDE2LzAzLzA3LzRiL2Y5NWUzNTI5ODIxLjY3OWU1LmpwZwpwCXRodW1iCTk1MHg1MzQjCmUJanBn/da141364/cf5/f95e3529821d4311a56fde40920598a3.jpg"
					class="img-responsive" style="width: 100%" alt="Image">
			</div>
			<div class="panel-footer">The tennis star announced she
				received a letter from the International Tennis Federation that she
				failed a test at the Australian open and said she took "full
				responsibility."</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Maria Sharapova: I failed a drug
				test</div>
			<div class="panel-body">
				<img
					src="http://rack.1.mshcdn.com/media/ZgkyMDE2LzAzLzA3LzRiL2Y5NWUzNTI5ODIxLjY3OWU1LmpwZwpwCXRodW1iCTk1MHg1MzQjCmUJanBn/da141364/cf5/f95e3529821d4311a56fde40920598a3.jpg"
					class="img-responsive" style="width: 100%" alt="Image">
			</div>
			<div class="panel-footer">The tennis star announced she
				received a letter from the International Tennis Federation that she
				failed a test at the Australian open and said she took "full
				responsibility."</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Maria Sharapova: I failed a drug
				test</div>
			<div class="panel-body">
				<img
					src="http://rack.1.mshcdn.com/media/ZgkyMDE2LzAzLzA3LzRiL2Y5NWUzNTI5ODIxLjY3OWU1LmpwZwpwCXRodW1iCTk1MHg1MzQjCmUJanBn/da141364/cf5/f95e3529821d4311a56fde40920598a3.jpg"
					class="img-responsive" style="width: 100%" alt="Image">
			</div>
			<div class="panel-footer">The tennis star announced she
				received a letter from the International Tennis Federation that she
				failed a test at the Australian open and said she took "full
				responsibility."</div>
		</div>
	</div>
</body>
</html>
